.bg-img{
  background-image: url(../img/tenun\ 1.png);
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  z-index: -99;

}

#title{
   position: absolute;
   top: 15%;
   left: 40%;
}

.masthead{
   min-height: 95vh;
   position: relative;
   background-size: cover;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
}

.masthead .container{
   overflow: hidden;

}


.masthead h1 {
   color: aliceblue;
   position: absolute;
   margin: 0 auto;
   bottom: 1.25rem;
   max-width: 550px;
   
   
}
.masthead p {
   color: aliceblue;
   position: absolute;
   margin: 0 auto;
   top: 65%;
   max-width: 550px;
   text-align: center;
   
}

.img-overlay{
   position: absolute;
   height: 100%;
   width: 100%;
   
}

@media (max-width: 991.98px) {
   .masthead{
      min-height: 30;
   }
}



footer{
    background-color: black;
    padding: 32px 0;
    
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    /* margin-top: -10px;     q */
}

.navbar-brand,
.nav-link {
   
  color: white !important;
  
}

.navbar{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;

}

.nav-link::after{
    content: "";
    width: 0;
    display: block;
    height: 3px;
    border-radius: 15px;
    background-color: red;
    transition: width 0.3s;
}

.nav-link:hover::after{
    width: 100%;
    transition: width 0.3s;
}

.active::after{
    width: 100%;
    
}
nav{
   position: fixed;
   top: 0;
   left: 0;

}
.cards-header::after {
    width: 10%;
    content: "";
    display: block;
    height: 3px;
    border-radius: 15px;
    background-color: red;
}

#text-judul h1{
   content: "";
   width: 0;
   display: block;
   height: 3px;
   border-radius: 15px;
   background-color: aliceblue;
   transition: width 0.3s;

}

@media screen and (max-width:576px){
   
   
}